window#waybar {
    background: #ffffff;
    font-family: "JetBrainsMono Nerd Font", monospace;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin: 0px;
    padding: 0px 0px;
    border: none;
}

#workspaces {
padding: 0px 6px;
margin: 0px 0px;
border: none;
background: transparent;
font-size: 16px;
color: #000000;
opacity: 1;
}

#workspaces button {
padding: 0px 0px;
margin: 0px 4px;
border: 3px solid transparent;
border-radius: 0px;
background: transparent;
color: #000000;
opacity: 0.4;
}

#workspaces button:hover {
box-shadow: none;
text-shadow: none;
background: none;
transition: none;
opacity: 2;
}

#workspaces button.active {
color: #000000;
opacity: 1;
font-weight: 800;
}

#clock {
color: #000000;
opacity: 1;
font-weight: 600;
font-size: 16px;
}

#cpu {
background: transparent;
color: #000000;
margin: 4px 0px 4px 4px;
border-radius: 2px;
padding: 2px 6px;
font-weight: 600;
font-size: 14px;
}

#memory {
background: transparent;
color: #000000;
margin: 4px 0px;
border-radius: 2px;
padding: 2px 6px;
font-weight: 600;
font-size: 14px;
}

#network {
background: transparent;
padding: 0px;
margin: 0px 12px 0px 0px;
color: #000000;
font-size: 18px;
}

#bluetooth {
background: transparent;
padding: 0px;
margin: 0px 12px 0px 0px;
color: #000000;
font-size: 18px;
}

#network.disabled,
#bluetooth.disabled {
opacity: 0.5;
}

#tray {
padding: 0px 6px 0px 0px;
}

#wireplumber {
background: transparent;
padding: 0px;
margin: 0px 10px 0px 0px;
color: #000000;
font-weight: 600;
font-size: 16px;
}

#wireplumber:hover {
color: #000000;
}

#custom-separator {
margin: 0px 12px;
padding: 0px;
color: #000000;
opacity: 0.6;
font-weight: 400;
font-size: 16px;
background: transparent;
}

tooltip {
    background: #ffffff;
}

tooltip label {
    color: #000000;
    font-weight: 400;
}
