configuration {
    show-icons: false;
    font: "JetBrains Mono Nerd Font Bold 32";
}

* {
    background-colour: #000000;
    text-colour: #ffffff;
    selected-background-colour: #000000;
    selected-text-colour: #00ff88;
}

window {
    width: 130px;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    padding: 8px;
    location: south east;
    anchor: south east;
    x-offset: -10px;
    y-offset: -10px;
}

mainbox {
    spacing: 0px;
    padding: 0px;
    children: [listview];
    background-color: transparent;
    border: 0px;
}

listview {
    spacing: 8px;
    padding: 0px;
    dynamic: false;
    scrollbar: false;
    fixed-height: false;
    background-color: transparent;
    layout: vertical;
    lines: 3;
    border: none;
}

element {
    padding: 28px;
    border-radius: 12px;
    background-color: #000000;
    text-color: #ffffff;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element selected {
    background-color: #000000;
    text-color: #c34a36;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    text-color: inherit;
    background-color: transparent;
}
