window#waybar {
    background: transparent;
    opacity: 0.98;
    font-family: "JetBrains Mono Nerd Font", monospace;
    color: #EFECE3;
    font-size: 14px;
    font-weight: 600;
}

.modules-center {
    background: alpha(#000000, 0.8);
    margin-bottom: 2px;
    padding: 0px 2px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
}

#workspaces {
    background-color: @surface_container_high;
    padding: 0px 0px 0px 0px;
}

#workspaces button {
    padding: 0px 10px;
    margin: 4px 2px;
    min-width: 15px;
    color: #EFECE3;
    background: #000000;
    border-radius: 4px;
    transition:
        background 0.2s ease,
        color       0.2s ease,
        min-width   0.2s ease,
        padding     0.2s ease;
}
#workspaces button.active {
    padding: 0px 18px;
    margin: 4px 2px;
    min-width: 30px;
    color: #000000;
    background: #D2EBCD;
    border-radius: 4px;
    transition:
        background 0.2s ease,
        color       0.2s ease,
        min-width   0.2s ease,
        padding     0.2s ease;
}
#workspaces button:hover {
    padding: 0px 10px;
    margin: 4px 2px;
    min-width: 50px;
    color: #000000;
    background: #D2EBCD;
    border-radius: 4px;
}

button {
    border: none;
    border-radius: 0;

}
button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#clock {
color: #D2EBCD;
opacity: 1;
font-weight: 600;
font-size: 16px;
margin: 0px 20px;
}

#network {
background: transparent;
padding: 0px;
padding-top: 1px;
margin: 0px 10px 0px 7px;
color: #D2EBCD;
font-size: 18px;
}

#bluetooth {
background: transparent;
padding: 0px;
padding-top: 1px;
margin: 0px 7px 0px 7px;
color: #D2EBCD;
font-size: 18px;
}

#tray {
margin: 0px 10px 0px 7px;
background: transparent;
border-radius: 0px;
}

#wireplumber {
background: transparent;
padding: 0px;
margin: 0px 7px 0px 7px;
color: #D2EBCD;
opacity: 1;
font-weight: 600;
font-size: 16px;
}

#wireplumber:hover{
    color:#FFFCEF;
    transition: all 0.6s ease-in;
}

#custom-separator {
margin: 0px 0px 0px 0px;
padding-right: 0px;
color: #D2EBCD;
opacity: 0.5;
font-weight: 900;
font-size: 14px;
background: transparent;
}

tooltip {
    background: #000000;
    border: 1px solid #000000;
}

tooltip label {
    color: #D2EBCD;
    font-weight: 600;
}
