

window#waybar {
    background: #000000;
    opacity: 0.98;
    font-family: "JetBrains Mono Nerd Font", monospace;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin: 0px;
    padding: 0px 0px;
    border: none;
}

#workspaces {
padding: 0px 6px;
margin: 0px 0px;
border: none;
background: transparent;
font-size: 16px;
color: transparent;
opacity: 1;
}

#workspaces button {
padding: 0px 0px;
margin: 0px 4px;
border: 3px solid transparent;
border-radius: 0px;
background: transparent;
color: #ffffff;
opacity: 0.5;
}

#workspaces button:hover {
box-shadow: none;
text-shadow: none;
background: transparent;
transition: none;
opacity: 1;
}

#workspaces button.active {
background: transparent;
color: #c34a36;
opacity: 1;
font-weight: 800;
transition: all 0.4s ease-in;
}

#clock {
color: #ffffff;
opacity: 1;
font-weight: 600;
font-size: 16px;
}

#cpu {
background: transparent;
color: #ffffff;
margin: 4px 0px 4px 4px;
border-radius: 2px;
padding: 2px 6px;
font-weight: 600;
font-size: 14px;
}

#memory {
background: transparent;
color: #ffffff;
margin: 4px 0px;
border-radius: 2px;
padding: 2px 6px;
font-weight: 600;
font-size: 14px;
}

#network {
background: transparent;
padding: 0px;
padding-top: 1px;
margin: 0px 12px 0px 0px;
color: #cccccc;
font-size: 18px;
}

#bluetooth {
background: transparent;
padding: 0px;
padding-top: 1px;
margin: 0px 12px 0px 0px;
color: #cccccc;
font-size: 18px;
}

#tray {
margin-right: 4px;
padding: 0px 0px 0px 0px;
background: transparent;
border-radius: 0px;
}

#wireplumber {
background: transparent;
padding: 0px;
margin: 0px 12px 0px 0px;
color: #ffffff;
opacity: 1;
font-weight: 600;
font-size: 16px;
}

#custom-leftseparator {
margin: 0px 4px 0px 0px;
padding-right: 2px;
color: #ffffff;
opacity: 1;
font-weight: 900;
font-size: 14px;
background: transparent;
}

#custom-rightseparator {
margin: 0px 4px 0px 0px;
padding: 0px;
color: #ffffff;
opacity: 1;
font-weight: 900;
font-size: 14px;
background: transparent;
}

tooltip {
    background: #000000;
    border: 1px solid #000000;
}

tooltip label {
    color: #ffffff;
    font-weight: 600;
}
